@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.hidden {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
}

.title {
  font-weight: bold;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-left: 0.3rem;
}

.item::before {
  width: 6px;
  height: 6px;
  margin-right: 0.5rem;
  margin-bottom: 2px;
  display: inline-block;
  content: '';
  background-color: var(--color-text-highlight);
  border-radius: 50%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
